ruc,nombres,numero_orden,adjuntos_link
11111111111,nombre1,000001,demo file|https://idperu.reniec.gob.pe/site;demo file2|https://idperu.reniec.gob.pe/site
22222222222,nombre2,000002,demo file|https://idperu.reniec.gob.pe/site;demo file2|https://idperu.reniec.gob.pe/site